.wrap {
    min-width: 960px;
    max-width: 1120px;
    margin: 0 auto;
}

img {
    display: block;
}

.icon {
    width: 16px;
    height: 16px;
}

.banner-list-width {
    .ivu-carousel-list {
        width: 100% !important;
    }
}